html { padding:10px; }

body {
  border:0;
  background:rgb(41,41,41);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:16px;
  padding:10px;
  color:#ddd;
  line-height:1.35em;
  margin:0;
  padding:0;
}
