<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="41540b8d-f660-48b8-95f0-efce16ce0e0b" Publisher="CN=Valery" Version="0.9.0.0" />
  <Properties>
    <DisplayName>RefApp.Windows.Windows</DisplayName>
    <PublisherDisplayName>Valery Jacobs</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RefApp.Windows.Windows.App">
      <m2:VisualElements DisplayName="Rememba" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Rememba lets you contruct a tree of knowledge and easily access that knowledge whenever you need it." ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile ShortName="Rememba">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="picturesLibrary" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>